*{margin:0; padding:0;}

body {
    font-family: 'Roboto Mono', monospace;
}

.total-header {
    font-family: 'Roboto Mono', monospace;
    width: 90%;
    margin: 30px auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
}

.header-name {
    width: 80%;
    font-size: 38px;
    font-weight: bold;
}

.list-selection {
    display: flex;
    width: 20%;
    list-style-type: none;
    font-size: 26px;
}

.list-selection li {
    padding: 10px 20px;
}

.list-selection li a {
    text-decoration: none;
    color: black;
}

.list-selection li a:hover {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #f14f04;
}

@media screen and (max-width: 950px) {
    .total-header{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}


.title-container {
    padding: 70px 20px;
    width: 50%;
    margin: auto;
    text-align: center;
}

.about-container {
    display: flex;
    width: 90%;
    margin: auto;
}

.about-section {
    width:50%;
    padding-right: 20px;
    text-align: justify;
}

.image-section {
    width: 50%;   
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
}

