*{margin:0; padding:0;}

body {
    font-family: 'Roboto Mono', monospace;
}

.total-header {
    font-family: 'Roboto Mono', monospace;
    width: 90%;
    margin: auto;
    background-color: bisque;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-name {
    width: 80%;
    font-size: 20px;
}

.list-selection {
    display: flex;
    width: 20%;
    list-style-type: none;
    font-size: 26px;
}

.list-selection li {
    padding: 10px 20px;
}

.list-selection li a {
    text-decoration: none;
    color: black;
}

.list-selection li a:hover {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #f14f04;
}

@media screen and (max-width: 950px) {
    .total-header{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}